/* Name: Dang Thi Hue
   Post 1:BaiTap_CSS_Mastery
   Innitiated date: 03/06/2024
 */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
    
  }
  /* header */
  .header__content{
    margin: auto;
    width:80%;
    
    
  }
  .header__content li{
    
    display:inline;
    margin-right: 20px;
  
  }
  .header__content a{
    text-decoration:none;
    color:black;
    
  
  }
  .header__logo span{
    font-size: 36px;
    padding-left: 5px;
    
  }
  .header__logo i{
    width: 36px;
    height: 36px;
    line-height: 36px;
    border-radius: 50%;
    background-color:rgba(0, 0, 0, 0.76);
    font-size: 20px;
    vertical-align: bottom;
    color:rgb(241, 206, 7);
    display: inline-block;
    text-align: center;
    
  }
  .nav{
    padding:20px;
  }
  /* Image */
  .Image img{
    width:100%;
    height:auto;
  }
  /* Title */
  .Title{
    display:flex;
    padding-top: 50px;
    margin:auto;
    width:80%;
    color: black;
    padding-bottom: 50px;
  }
  .class1 h2 {
    padding-bottom: 20px;
  }
  .class3 {
    padding-bottom: 20px;
    
  }
  .class__1{
    padding-right: 5px;
    
    font-size: 25px;
  }
  .class2{
    padding-left: 5px;
    
    font-size: 25px;
  }
  .Buttom{
    width: 120px;
    height: 40px;
    border-radius: 5px;
    background-color:gold;
    font-size: 15px;
    vertical-align: bottom;
    color:black;
    display: inline-block;
    text-align: center;
  }



  /* Number */
  .Color{
   
    background-color:rgb(205, 197, 197);
    padding-top: 50px;
  }
  .Number{
    display:flex;
    padding-top: 50px;
    margin:auto;
    width:80%;
    padding-bottom: 50px;
    
  }
  .Num{
    display:flex;
    padding-right: 100px;
  }
  .Num h1 {
    font-size:65px;
    padding-inline: 15px;

  }
  .Num p {
    font-size: 20px;
  }
  /* Carosel */
  .Carosel{
    padding-top: 50px;
    margin:auto;
    width:80%;
    padding-inline: 98px;
    padding-bottom: 50px;
   

  }
  .Carosel_A {
    display:flex;
    padding-top: 17px;
    justify-content: space-between;
    
  }
  .Carosel_B{
    display:flex;   
    padding-top: 17px; 
    justify-content: space-between;
   
  }
  .Carosel_item{
    background-color: rgba(23, 7, 51, 0.926);
    padding-inline: 30px;
    width:15rem;
    height:10rem;
    line-height: 36px;
    font-size: 30px;
    vertical-align: bottom;
    color:white;
    display: inline-block;
    text-align: center;
    padding-top: 40px;
    border-radius: 5px;
    
  }
  

  
  /* Events */
  .Events{
    background-color:rgb(205, 197, 197);
    
    
  }
  .Events_color{
    display:flex;
    width: 80%;
    margin: auto;
    padding-top: 50px;
    padding-bottom: 50px;
  }
  /* events_right */
  .Events_post{
    padding-bottom: 50px;
  }
  .Events_r{
    background-color: white;
    
  }
  .Events_rp{
    display:flex;
    padding-top: 30px;  
    padding-bottom: 30px;
    padding-right: 20px;
    
    
  }
  .Events_r1 img{
    width: 36px;
    height: 36px;
    line-height: 36px;
    border-radius: 10px;
    
    font-size: 20px;
    vertical-align: bottom;
    
    display: inline-block;
    text-align: center;
    
  }
  .Events_r1{
    padding-left: 30px;
  }
  .Events_left{
    padding-left: 30px;
  }
  /* events_left */
  .Events_title{
    background-color: white;
    
  }
  .Events_float{
    background-color: white;
  }
  /* footer */
  .Footer{
    background-color: rgb(17, 17, 78);
    color: white;
  }